<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenQA.Selenium.Winium" version="1.0.0.4" targetFramework="net46" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net46" />
  <package id="Selenium.WebDriver.ChromeDriver" version="92.0.4515.10700" targetFramework="net46" />
</packages>