@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
        <p>
            我是 平板电脑 页面.
        </p>
        
        <p>
            您现在浏览的文件，是 Index.tablet.cshtml
        </p>


        <div>
            <a href="/TestMobile/TestErrorPage"> 尝试触发一个错误 ...</a>
        </div>


        <div>
            <a href="/TestMobile/TestOutputCache"> 测试有【OutputCache】的情况. </a>
        </div>

        <div>
            <a href="/TestMobile/TestOutputCacheVaryByCustom"> 测试【OutputCache + VaryByCustom 】的情况. </a>
        </div>

        <div>
            <a href="/TestMobile/TestOutputCacheVaryByHeader"> 测试【OutputCache + VaryByHeader 】的情况. </a>
        </div>



        <div>


            <a href="/TestMobile/Index?display=pc"> 用户自己要求，切换到PC页面. 并且后续页面都是 【pc页面】 </a>
            <br />
            <a href="/TestMobile/Index?display=mobile"> 用户自己要求，切换到手机页面. 并且后续页面都是 【手机页面】 </a>

        </div>




        <div>

            @Html.Action(actionName: "TestPartialView")

        </div>


    </div>
</body>
</html>
