@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
        <p>
            我是 平板电脑 页面.
        </p>
        
        <p>
            您现在浏览的文件，是 Index.tablet.cshtml
        </p>


        <div>
            <a href="/TestMobile/TestErrorPage"> 尝试触发一个错误 ...</a>
        </div>

    </div>
</body>
</html>
