@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="applicable-device" content="mobile">
    <meta name="theme-color" content="#ff3333">

    <title>网易二季度营收163亿元同比增22% 净利润21亿元</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <style>
        .photo img {
            display: block;
            max-width: 100%;
            margin: auto;
        }
    </style>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            // 注意：本来比较省事的处理，是不需要 js 处理的， 直接把 图片的跳转地址，写在 img 外面的 a 上面。
            // 这里是考虑到， 网站的内容编辑器各不相同，简单的编辑器，恐怕没有针对图片做缩略的处理，因此只能额外写段 js 来处理.
            $(".photo img").click(function () {

                // 这里是获取当前图片的 src.  
                // 如果图片有缩略图处理的话， 那么可以在 img 上面， 加一个原始图的属性，然后，这里获取原始图片的地址.
                var imageSrc = $(this).attr("src");

                // 页面跳转.
                var imageUrl = "/TestMobile/TestImages?id=" + imageSrc;
                location.href = imageUrl;
            });
        });
    </script>

</head>
<body>

    <div class="head">
        <h1 class="title">网易二季度营收163亿元同比增22% 净利润21亿元</h1>
        <div class="info">
            <span class="time js-time">2018-08-09 07:36:30</span>
            <span class="source js-source">网易科技报道</span>
        </div>
    </div>


    <div class="content">
        <div class="page js-page on">
        
            <div class="photo">
                <a href="#">
                    <img alt="" src="/upload/1.jpeg">
                    <span></span>
                </a>
            </div>
        
            <p>网易科技讯8月9日讯，网易（NASDAQ:NTES）今天宣布了公司截止到2018年6月30日的第二季度未经审计财务业绩。数据显示，网易第二季度净收入162.84亿元（24.61亿美元），同比增加21.7%；归属于网易公司股东净利润为21.07亿元（3.18亿美元）。</p><p><b>2018年第二季度主要财务业绩：</b></p><p>·净收入为162.84亿元（24.61亿美元），同比增加21.7%。其中：</p><p>-在线游戏服务净收入为100.61亿元（15.20亿美元），同比增加6.7%；</p><p>-电商业务净收入为43.66亿元（6.60亿美元），同比增加75.2%；</p><p>-广告服务净收入为6.34亿元（9,582万美元），同比增加6.5%；</p><p>-邮箱及其他业务净收入为12.23亿元（1.85亿美元），同比增加42.5%。</p><p>·毛利润为72.45亿元（10.95亿美元），同比增加7.5%。</p><p>·营业费用为49.12亿元（7.42亿美元），同比增加47.4%。</p><p>·归属于网易公司股东净利润为21.07亿元（3.18亿美元）；基于非美国通用会计准则，归属于网易公司股东净利润为27.25亿元（4.12亿美元）。</p><p>·每股美国存托凭证净利润为2.44美元（摊薄）；基于非美国通用会计准则，每股美国存托凭证净利润为3.15美元（摊薄）。</p><p><b>2018年第二季度和近期运营要点：</b></p><p>·2018年6月29日推出了备受瞩目的端游作品《逆水寒》。</p><p>·游戏多元化战略进一步加强，本季度推出了多款颇受好评的非MMORPG手游产品，包括《影之诗》、《第五人格》和《非人学园》等。</p><p>·海外游戏发展势头强劲，其中：</p><p>-《荒野行动》于2018年6月登顶日本iOS App Store畅销榜；</p><p>-《第五人格》于2018年7月上旬登陆日本市场后，迅速登顶日本iOS App Store及Google Play Store下载榜。</p>
        </div>
        
        <div class="page js-page"><p>·旗舰类产品人气不减，如：《梦幻西游》、《大话西游》和《新倩女幽魂》的端游和手游版本、《阴阳师》和《率土之滨》等。</p><p>·《我的世界》中国累计注册用户超过1亿。</p><p>·投资美国游戏公司Bungie以支持其游戏研发创新。</p><p>·继续丰富产品线，即将推出新游戏：《神都夜行录》和《明日之后》等。</p><p>·电商业务持续发展，毛利率环比得到改善。</p><p>“我们高兴地看到，本季度游戏、电商、广告等各业务板块均呈现出不错的增长势头，净利润也显著回升。”网易公司首席执行官兼董事丁磊说，“端游和手游依然是网易游戏的两大增长点。6月底，我们发布了备受期待的端游《逆水寒》，该游戏以其卓越的美术技术和创新的玩法，迅速成为中国市场近几年来最受用户关注的端游产品之一。”</p><p>“在手游方面，我们继续推进多元化产品战略。在第二季度，我们成功推出数款非MMORPG类的手游产品，比如《影之诗》、《第五人格》和《非人学园》等，每款游戏表现都不俗。新品的推出也吸引了不少海外玩家，特别是在《荒野行动》和《第五人格》等游戏的带动下，我们在海外市场取得了更大的成功。”</p><p>“我们的电商业务也在持续发展，通过优化品类结构、提升采购效率，电商业务的毛利率环比在逐步改善。”</p><p>“匠心和创新一直是网易的核心竞争力。二十余年来，我们一直秉承这些理念，将它们融入我们的产品中，形成了网易特有的竞争优势。我们相信网易秉承的理念以及其强大的研发能力和商业敏锐性，将继续推动网易公司未来蓬勃发展。”丁磊总结道。</p><p><b>2018年第二季度财务业绩分析</b></p><p><b>第二季度净收入162.84亿元</b></p><p>2018年第二季度净收入为162.84亿元（24.61亿美元），上一季度和去年同期分别为141.73亿元和133.76亿元。</p><p>2018年第二季度在线游戏服务净收入为100.61亿元（15.20亿美元），上一季度和去年同期分别为87.61亿元和94.30亿元。本季度，来自于手游的净收入占在线游戏服务净收入的74.7%，上一季度和去年同期该占比分别为71.8%和72.4%。</p><p>2018年第二季度电商业务净收入为43.66亿元（6.60亿美元），上一季度和去年同期分别为37.32亿元和24.92亿元。</p></div><div class="page js-page"><p>2018年第二季度广告服务净收入为6.34亿元（9,582万美元），上一季度和去年同期分别为4.62亿元和5.96亿元。本季度广告收入表现最好的行业是：交通类、网络服务类和房地产类。</p><p>2018年第二季度邮箱及其他业务净收入为12.23亿元（1.85亿美元），上一季度和去年同期分别为12.17亿元和8.58亿元。</p><p><b>毛利润72.45亿元</b></p><p>2018年第二季度毛利润为72.45亿元（10.95亿美元），上一季度和去年同期分别为59.54亿元和67.37亿元。2018年第二季度综合毛利率为44.5%，上一季度和去年同期分别为42.0%和50.4%。</p><p>在线游戏服务毛利同比和环比增长主要是得益于自研手游的收入贡献，如《楚留香》、《荒野行动》和《第五人格》。业务毛利率为64.3%，上一季度和去年同期分别为62.1%和63.1%。在线游戏服务毛利率的同比和环比上升主要是由于在线游戏业务净收入增长，而部分成本相对稳定所致。</p><p>电商业务毛利同比和环比增长主要得益于网易考拉和网易严选的快速发展。业务毛利率为10.1%，上一季度和去年同期分别为9.5%和12.6%。电商业务毛利率的同比下降主要是由于2018年第二季度的促销力度相对较大，以支持电商业务的快速发展。电商业务毛利率的环比上升主要是由于其优化品类结构和提升采购效率所致。</p><p>广告服务毛利同比增长主要得益于其商业化进展。广告服务毛利环比增长主要是由于季节性因素造成的收入增长。业务毛利率为67.0%，上一季度和去年同期分别为59.0%和67.6%。毛利率的环比上升主要是由于季节性因素造成的收入增长。</p><p>邮箱及其他业务毛亏损同比上升主要由于网易某些毛利率相对较高的平台业务收入下降，以及本季度确认了较高的音乐版权费用所致。邮箱及其他业务毛亏损环比下降主要由于上季度确认了较高的音乐版权费用。业务毛损率为7.3%，上一季度和去年同期分别为毛损率9.9%和毛利率7.7%。邮箱及其他业务毛损率的同比增加主要由于网易某些毛利率相对较高的平台业务收入下降，以及本季度确认的较高的音乐版权费用所致。邮箱及其他业务毛损率环比改善主要由于上季度确认了较高的音乐版权费用。</p><p><b>营业费用49.12亿元</b></p></div><div class="page js-page"><p>2018年第二季度营业费用为49.12亿元（7.42亿美元），上一季度和去年同期分别为47.47亿元和33.32亿元。营业费用的同比增加主要是由于市场营销费用、研发支出和包含在销售及市场费用中的货物运费及管理费增加，以及人员成本上升所致。营业费用的环比增加主要是由于人员成本和研发支出环比增长，并被游戏业务相关的市场营销费用环比下降所部分抵消。2018年第二季度包含在销售及市场费用中的货物运费及管理费为3.87亿元（5,842万美元），上一季度和去年同期分别为3.26亿元和2.81亿元。</p><p><b>所得税4.21亿元</b></p><p>2018年第二季度公司所得税费用为4.21亿元（6,355万美元），上一季度和去年同期分别为2.83亿元和7.03亿元。2018年第二季度有效税率为15.7%，上一季度和去年同期分别为26.0%和19.0%。有效税率的同比和环比变动主要是由于集团下属的部分子公司在2018年第二季度被认定为重点软件企业，2017年度享有10%的优惠税率，集团在2018年第二季度确认了相关税收返还。有效税率反映了集团对每个季度适用的税务义务和权利的估计。</p><p><b>净利润21.07亿元环比大涨180% 净利润率12.9%</b></p><p>2018年第二季度归属于网易公司股东净利润为21.07亿元（3.18亿美元），上一季度和去年同期分别为7.52亿元和29.72亿元。2018年第二季度每股美国存托凭证净利润为2.45美元（基本）和2.44美元（摊薄）。上一季度为0.87美元（基本）和0.86美元（摊薄），去年同期为3.41美元（基本）和3.39美元（摊薄）。网易第二季度净利润率为12.9%，上一季度和去年同期分别为5.3%和22.2%。</p><p>基于非美国通用会计准则，2018年第二季度归属于网易公司股东净利润为27.25亿元（4.12亿美元），上一季度和去年同期分别为13.37亿元和34.72亿元。基于非美国通用会计准则，2018年第二季度每股美国存托凭证净利润为3.17美元（基本）和3.15美元（摊薄），上一季度为1.54美元（基本）和1.53美元（摊薄），去年同期为3.98美元（基本）和3.96美元（摊薄）。</p><p>2018年第二季度，公司录得净汇兑收益为2.33亿元（3,518万美元），上一季度和去年同期分别为净汇兑损失3.75亿元和1.31亿元。净汇兑损益变化主要是由于公司的美元银行存款及贷款余额随美元兑换的汇率波动而折算产生。</p></div><div class="page js-page">
            <p><b>其他信息</b></p><p>2018年6月30日，集团现金及现金等价物、定期存款和短期投资共计442.78亿元（66.91亿美元），截止至2017年12月31日为432.10亿元。2018年第二季度经营活动净现金流入为19.58亿元（2.96亿美元），上一季度为19.05亿元，去年同期为23.21亿元。</p><div class="photo">
                <a href="#">
                    <img alt="" src="/upload/2.jpeg">
                    <span></span>
                </a>
            </div>
        </div>
    </div>


</body>
</html>
