<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="A0161_SQL_Server_Porc_UnitTest.Properties.Settings.UnitTestConnectionString"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=UnitTest;Integrated Security=True" />
    </connectionStrings>
</configuration>