<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TestEntities" connectionString="metadata=res://*/Sample.TestModel.csdl|res://*/Sample.TestModel.ssdl|res://*/Sample.TestModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=mysql123;Persist Security Info=True;database=test_utf8&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>