<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    
    
    
    <system.web>
        <compilation debug="true" targetFramework="4.0" />


        <!-- ASP.NET  应用程序配置缓存设置  ( 在 system.webServer 里面的 caching  是  IIS 的缓存设置.  ) -->
        <caching>
            <!-- 定义名为 Cache5Minutes 的缓存配置文件，缓存时间 5分钟.  -->            
            <outputCacheSettings>
                <outputCacheProfiles>
                    <!-- http://msdn.microsoft.com/zh-cn/library/ms228300(v=vs.80).aspx -->
                    <!-- http://msdn.microsoft.com/zh-cn/library/system.web.configuration.outputcacheprofile_members(v=vs.80).aspx -->
                    <add 
                        name = "Cache5Minutes"
                        enabled = "true"
                        duration = "300"
                        varyByCustom="browser" 
                        varyByParam="none"
                        location="Any" />
                </outputCacheProfiles>
            </outputCacheSettings>
        </caching>
    </system.web>


    
    
    
    <system.webServer>
        <!--  IIS 缓存设置.  -->
        <caching>
            <profiles>
                <add extension=".jpg" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="00:30:30" varyByHeaders="Accept-Language" />
            </profiles>
        </caching>        
    </system.webServer>



    <location path="~/Image2">
        <system.webServer>
            <validation validateIntegratedModeConfiguration="false"/>
            <modules runAllManagedModulesForAllRequests="true"/>            
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="0.00:30:00"/>
            </staticContent>
        </system.webServer>
    </location>    
    
    
    
</configuration>
