<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="A0530_LINQ_SQL.Properties.Settings.TestLinq2SqlConnectionString"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=TestLinq2Sql;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>