<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <!-- 这里通过配置文件，来决定是否打开跟踪处理，以及 使用哪些 跟踪侦听器 等配置信息。 -->
  <system.diagnostics>
    
    
    <!-- 这里配置基本的  Trace 的配置. -->
    <trace autoflush="false" indentsize="4">
      
      
      <!-- 这里定义 获取监视跟踪输出的侦听器集合。 -->
      <listeners>
        
        <!-- 跟踪信息输出到控制台上.  -->
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />


        <!-- 跟踪信息输出到 指定的日志文件中.  -->
        <add name="myListener"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="TextWriterOutput.log" />



        <!-- 删除掉 默认的 侦听器. -->
        <remove name="Default" />


      </listeners>


    </trace>



    <!--  这里定义 跟踪的开关. -->
    <switches>

      <!-- 对于 BooleanSwitch，值 0 对应于 Off，任何非零值都对应于 On。 -->
      <add name="DataMessagesSwitch" value="0" />
      
      
      <!--  对于 TraceSwitch，0、1、2、3 和 4 分别对应于 Off、Error、Warning、Info 和 Verbose。
            任何大于 4 的数字都会被当作 Verbose，任何小于零的数字都会被当作 Off。 -->
      <add name="TraceLevelSwitch" value="2" />

    </switches>



  </system.diagnostics>



</configuration>