
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<ul>

    <li>
        <a href="/NOTEXISTS"> 测试跳转到一个不存在的地址，然后迁移到 404 页面. </a>
    </li>

    <li>
        <a href="/TestError/ResultHttpNotFound"> 测试跳转到一个存在的控制器，这个控制器返回 HttpNotFound，然后迁移到 404 页面. </a>
    </li>

</ul>