<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="TestEntities" connectionString="metadata=res://*/Sample.TestModel.csdl|res://*/Sample.TestModel.ssdl|res://*/Sample.TestModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=VBPOS;PASSWORD=test;USER ID=TEST&quot;" providerName="System.Data.EntityClient"/>
    <add name="ModelFirstContainer" connectionString="metadata=res://*/Sample.ModelFirst.csdl|res://*/Sample.ModelFirst.ssdl|res://*/Sample.ModelFirst.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=VBPOS;PASSWORD=TEST;PERSIST SECURITY INFO=True;USER ID=TEST&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
