<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <system.serviceModel>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="maxBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IServcie">
          <security mode="Message">
            <message algorithmSuite="Basic128" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    
    
    
    <client>
      <endpoint address="net.tcp://localhost:8000/Calculator" behaviorConfiguration="maxBehavior"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServcie"
        contract="MyWCFService.ServiceContract.ICalculator" name="NetTcpBinding_ICalculator" />
    </client>
    
  </system.serviceModel>
  
  
</configuration>