<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core"/>
  </configSections>


  <system.web>
        <compilation debug="true" targetFramework="4.0"/>
        <httpHandlers>
            <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core"/>
        </httpHandlers>
    </system.web>
  

  
    <dotless minifyCss="false" cache="true" web="false" strictMath="false"/>
  
  
    <system.webServer>
        <handlers>
            <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition=""/>
        </handlers>

      <defaultDocument>
        <files>
          <add value="index.htm" />
        </files>
      </defaultDocument>
    </system.webServer>

  
</configuration>
