<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MyRuleEntities" connectionString="metadata=res://*/EF.MyRuleModel.csdl|res://*/EF.MyRuleModel.ssdl|res://*/EF.MyRuleModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=VBPOS;PASSWORD=myrule;PERSIST SECURITY INFO=True;USER ID=MYRULE&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>