<?xml version="1.0" encoding="utf-8" ?>
<configuration>



  <system.serviceModel>
    

    <behaviors>
      
      <!-- 此配置节描述为特定服务定义的所有行为。   -->
      <serviceBehaviors>
        
        <behavior name="maxBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      
      <endpointBehaviors>
        <behavior name="maxBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
      
    </behaviors>


    <bindings>
      <netTcpBinding>
        
        <binding name="FileTransferConfig"
            closeTimeout="00:05:00"
            openTimeout="00:05:00"
            receiveTimeout="00:10:00"
            sendTimeout="00:05:00"
            transactionFlow="true"
            transferMode="Buffered"
            transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard"
            listenBacklog="10"
            maxBufferPoolSize="2147483647 "
            maxBufferSize="2147483647 "
            maxConnections="10"
            maxReceivedMessageSize="2147483647 ">
          <readerQuotas maxDepth="32"
            maxStringContentLength="2147483647 "
            maxArrayLength="2147483647 "
            maxBytesPerRead="4096"
            maxNameTableCharCount="16384" />
          <reliableSession ordered="true"
            inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
          </security>
        </binding>
        
      </netTcpBinding>
      
    </bindings>
 


    <!-- 服务定义 -->
    <services>
      <!--  
        service 定义特定服务的服务协定、行为和终结点。  
          name : 必需的字符串属性，此属性指定要进行实例化的服务的类型。此设置必须等同于一个有效类型。格式应为 Namespace.Class.
          behaviorConfiguration : 一个字符串，其中包含要用于实例化服务的行为的行为名。定义服务时，该行为名必须在作用域内。默认值为空字符串。
      -->
      <service 
          name="MyWCFService.Service.CalculatorService"
          behaviorConfiguration="maxBehavior">
        
        
        <!-- 
          endpoint 指定用于公开服务的服务终结点的绑定、协定和地址属性。
            address : 一个包含终结点地址的字符串。可以将地址指定为绝对地址或相对地址。
                      如果提供的是相对地址，则需要主机提供适合于绑定中所使用的传输方案的基址。
                      如果未配置地址，则假定基址为该终结点的地址。
                      默认值为一个空字符串。
            binding : 必需的字符串属性，此属性指定要使用的绑定类型。
                      该类型必须具有一个已注册的配置节，才能加以引用。
                      该类型是按节名而不是绑定的类型名注册的。
 
            contract : 一个字符串，指示此终结点公开了哪个协定。
                      程序集必须实现该协定类型。如果服务实现所实现的是单个协定类型，则可以省略此属性。
                      默认值为一个空字符串。
 
 
        -->
        <endpoint 
          address="net.tcp://localhost:8000/Calculator" 
          binding="netTcpBinding" 
          bindingConfiguration="FileTransferConfig"
          contract="MyWCFService.ServiceContract.ICalculator" />

      </service>
      
    </services>
    
  </system.serviceModel>
  
  
</configuration>