<?xml version="1.0"?>
<configuration>


  <configSections>
    <!-- log4net 日志配置. -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>





  <!-- log4net 日志配置. -->
  <log4net>
    <root>
      <level value="DEBUG"/>


      <!-- 这个是我的 文件级别的 Log 的配置 -->
      <appender-ref ref="RollingFileAppender_DEBUG"/>
      <appender-ref ref="RollingFileAppender_INFO"/>
      <appender-ref ref="RollingFileAppender_WARN"/>
      <appender-ref ref="RollingFileAppender_ERROR"/>

      <!-- 这个是 电子邮件的 Log 配置 -->
      <appender-ref ref="SmtpAppender" />
    </root>


    <!-- DEBUG 级别的日志处理.  -->
    <appender name="RollingFileAppender_DEBUG" type="log4net.Appender.RollingFileAppender">
      <file value="LogFile\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMM\\&quot;Log_DEBUG_&quot;yyyyMMdd&quot;.csv&quot;"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="&quot;%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}&quot;,&quot;%level&quot;,&quot;%logger&quot;,&quot;%message&quot;%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMax" value="DEBUG"/>
        <param name="LevelMin" value="DEBUG"/>
      </filter>
    </appender>


    <!-- INFO 级别的日志处理.  -->
    <appender name="RollingFileAppender_INFO" type="log4net.Appender.RollingFileAppender">
      <file value="LogFile\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMM\\&quot;Log_INFO_&quot;yyyyMMdd&quot;.csv&quot;"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="&quot;%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}&quot;,&quot;%level&quot;,&quot;%logger&quot;,&quot;%message&quot;%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMax" value="INFO"/>
        <param name="LevelMin" value="INFO"/>
      </filter>
    </appender>


    <!-- WARN 级别的日志处理.  -->
    <appender name="RollingFileAppender_WARN" type="log4net.Appender.RollingFileAppender">
      <file value="LogFile\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMM\\&quot;Log_WARN_&quot;yyyyMMdd&quot;.csv&quot;"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="&quot;%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}&quot;,&quot;%level&quot;,&quot;%logger&quot;,&quot;%message&quot;%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMax" value="WARN"/>
        <param name="LevelMin" value="WARN"/>
      </filter>
    </appender>


    <!-- ERROR 级别的日志处理.  -->
    <appender name="RollingFileAppender_ERROR" type="log4net.Appender.RollingFileAppender">
      <file value="LogFile\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMM\\&quot;Log_ERROR_&quot;yyyyMMdd&quot;.csv&quot;"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="&quot;%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}&quot;,&quot;%level&quot;,&quot;%logger&quot;,&quot;%message&quot;%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMax" value="ERROR"/>
        <param name="LevelMin" value="ERROR"/>
      </filter>
    </appender>



    <!-- 邮件处理  -->
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      
      <!-- SMTP 验证方式.  -->
      <authentication value="Basic" />
	  
<!--
Property Value
For .NET 1.1 (System.Web.Mail): A semicolon-delimited list of e-mail addresses.
For .NET 2.0 (System.Net.Mail): A comma-delimited list of e-mail addresses.
如果是 .NET 1.1 版本，     那么，邮件地址之间， 使用分号分隔。
如果是 .NET 2.0 以上版本， 那么，邮件地址之间， 使用逗号分隔。
-->	  
	  
      <!-- 收件人. -->
      <to value="edwardwang@test.com.cn" />
      <!-- 抄送人. -->
      <cc value="wangzhiqing999@test.com" />
	  
	  
      <!-- 发件人. -->
      <from value="edwardwang@test.com.cn" />
      <!-- 用户名. -->
      <username value="edwardwang@test.com.cn" />
      <!-- 密码. -->
      <password value="test" />
      <!-- 邮件主题.  -->
      <subject value="Log4Net 日志信息" />

      <!-- STMP 服务器地址.  -->
      <smtpHost value="smtp.test.com" />


      <!-- 
          也就是 发送邮件的时候， 顺便发送 异常日志的 前5个日志信息（包含异常的日志）  
      这样做的目的是 便于观察， 是什么原因，导致了 异常的发生.
      这个值好像 默认是 512.
      -->
      <bufferSize value="5" />
      
      <lossy value="true" />

      <!-- 下面的定义， 就是 日志级别 大于 WARN 的， 才发邮件.  -->
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="WARN"/>
      </evaluator>


      <!-- 下面是 定义邮件的格式   -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
      </layout>

    </appender>


  </log4net>






  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  
  
</configuration>
