
@model IEnumerable<W1050_Mvc5.Controllers.MyTestData>

@{
    ViewBag.Title = "TestEf";
}

<h2>TestEf</h2>


<table class="table  table-striped  table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestInfo)
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td> @Html.DisplayFor(modelItem => item.ID) </td>
        <td> @Html.DisplayFor(modelItem => item.TestInfo) </td>
    </tr>
}

</table>


<p>
    主画面上，会看到 DB Queries xxx ms/ y  这样的汇总信息， 描述 执行了多少个 SQL 语句，耗时多少.
</p>
<p>
    点击最右的g，查看明细数据时，选择 SQL ， 查看具体的 SQL 语句， 以及每个 SQL 语句的文本， 以及语句执行的时间， 行数等信息。
</p>