
@{
    ViewBag.Title = "TestPartial";
}

<h2> 测试分布视图的性能. </h2>




<div>
    @Html.Action(actionName: "Partial1")
</div>


<div>
    @Html.Action(actionName: "Partial2")
</div>


<div>
    @Html.Action(actionName: "Partial3")
</div>