<div class="jumbotron">
    <h1>ASP.NET Web Api Test</h1>
    <p class="lead">ASP.NET Web Api 测试页面.</p>    
</div>


<div class="row">
    <div class="col-md-4">
        <p>
            <a href='@Url.Action(actionName: "TestMyDemo", controllerName: "Home")'> 测试 MyDemo (WebApi) </a>
        </p>
    </div>

    <div class="col-md-4">
        <p>
            <a href='@Url.Action(actionName: "TestMyDemoKnockout", controllerName: "Home")'> 测试 MyDemo (WebApi + knockout.js) </a>
        </p>
    </div>


    <div class="col-md-4">
        <p>
            <a href='@Url.Action(actionName: "TestValues", controllerName: "Home")'> 测试 Values (有安全设置) </a>
        </p>
    </div>



</div>
