
@{
    ViewBag.Title = "测试 Redirect";
}

<h2>测试 Redirect</h2>



<p>
    MVC 自带的 Redirect
</p>

<p>
    跳转后，用户的浏览器上，地址将是 “跳转后的地址”
</p>


<ul>
    <li>
        <a class="btn btn-default" href="/TestRedirect/TestRedirect/1"> 跳转测试首页1 </a>
    </li>
    <li>
        <a class="btn btn-default" href="/TestRedirect/TestRedirect/2"> 跳转测试首页2 </a>
    </li>
    <li>
        <a class="btn btn-default" href="/TestRedirect/TestRedirect/3"> 跳转测试首页3 </a>
    </li>
    <li>
        <a class="btn btn-default" href="/TestRedirect/TestRedirect/4"> 跳转本地的一个静态 html 页面 </a>
    </li>
</ul>






<hr />

<p>
    稍作修改之后的 Forword 处理。
</p>

<p>
    点击以后，用户的浏览器上，地址将依然是 “之前的地址”
</p>

<ul>
    <li>
        <a class="btn btn-default" href="/TestRedirect/TestForword/1"> 跳转测试首页1 </a>
    </li>
    <li>
        <a class="btn btn-default" href="/TestRedirect/TestForword/2"> 跳转测试首页2 </a>
    </li>
    <li>
        <a class="btn btn-default" href="/TestRedirect/TestForword/3"> 跳转测试首页3 </a>
    </li>
    <li>
        <a class="btn btn-default" href="/TestRedirect/TestForword/4"> 跳转本地的一个静态 html 页面 </a>
    </li>
</ul>

