@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>说明</h3>
    <p>
        本项目，主要是用于测试解决这样的问题。
    </p>

    <p>
        一个网站，初期搭建的时候，全部是手机页面。
        网站开发完毕，等待正常运营一段时间之后，才在原有的基础上，开发 pc 页面。
    </p>

    <p>
        按照 W1050_Mvc5 的做法，
        初期， 手机页面， 全部使用 Index.mobile.cshtml
        由于没有 pc 页面，那么 Index.cshtml 就没有。
        那么结果将导致， 使用 pc 访问的时候， 页面直接挂了。
    </p>

    <p>
        本项目的打算，是 手机页面，使用  Index.cshtml，
        PC 页面， 使用  Index.pc.cshtml。

        初期阶段，没有 PC 页面的情况下。
        当使用 pc 访问的时候， 会自动跳转到默认的页面.
    </p>

</div>

<ul>

    <li>
        <a href="/Home/Test1"> 测试：仅仅开发了手机页面， 没有 pc 页面的情况。 （手机/pc 打开的，都是默认的手机页面） </a>
    </li>

    <li>
        <a href="/Home/Test2"> 测试：仅仅开发了 pc 页面， 没有 手机 页面的情况。 （由于手机页面是 默认页面， 手机访问此页面将出错！） </a>
    </li>

    <li>
        <a href="/Home/Test3"> 测试： 既有手机页面， 又有 pc 页面的情况。 （手机打开，是手机页面； pc 打开，是 pc 页面。） </a>
    </li>

</ul>