
@{
    ViewBag.Title = "Index";
}

<h2>测试调用 Ajax 的处理.</h2>



<ul>
    <li>
        <a href="/TestAjax/TestStep123"> 测试按顺序依次调用 TestStep1 --&gt; TestStep2 --&gt; TestStep3 </a>
    </li>


    <li>
        <a href="/TestAjax/TestStepABC"> 测试同时调用 TestStepA --&gt; TestStepB --&gt; TestStepC </a>
    </li>


    <li>
        <a href="/TestAjax/TestAbort"> 测试发起 Ajax 请求之后，取消后续操作. </a>
    </li>



    <li>
        <a href="/TestAjax/TestStepXYZ"> 测试发起 Ajax 请求之后， 先产生第一个结果， 用这个结果， 产生一个后台线程执行某后台操作，  第二个 Ajax 也用第一个结果，进行计算显示。. </a>
    </li>

</ul>
