<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <configSections>
        <!-- Log4Net -->
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        
        
    </configSections>
        

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>



    <!-- IIS 相关配置. -->
    <system.webServer>


        <!-- 
        下面两行是创建 MVC 项目的时候， 自动添加的配置.
        在增加了下面两行配置以后。
        包含非法字符的请求，即时 Url rewrite 作了处理，但是 ASP.NET 依然会报系统错误。
        错误发生的时点，在 Application_BeginRequest 之前。
        暂时没找到好的解决办法。
        
        需要仔细去了解一下 runAllManagedModulesForAllRequests="true" 的相关处理机制才行.
        -->
        
        <!-- validation validateIntegratedModeConfiguration="false" / -->
        <!-- modules runAllManagedModulesForAllRequests="true" / -->
        
        
        <!-- Url Rewrite 模块的相关配置. -->
        <!-- 参考： http://www.iis.net/learn/extensions/url-rewrite-module/url-rewrite-module-configuration-reference -->
        <rewrite>

           
            <!-- 定义规则匹配处理.  -->
            <rules>

                <!-- Http Host 不匹配时，拦截访问. -->
                <rule name="Fail bad requests">
                    <match url=".*"/>
                    <!-- MatchAll 意味着 全部匹配, 也就是  Host 不在下面列表的， 才拦截.  -->
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
                        <add input="{HTTP_HOST}" pattern="127.0.0.1" negate="true" />
                    </conditions>
                    <action type="AbortRequest" />
                </rule>

                <!-- 
                    这里测试： 使用 IE 浏览器访问，正常. 
                    使用 FireFox 浏览器访问，将被干掉. 
                    使用 Safari 浏览器访问，将被干掉. 
                    实际网站中， 可以尝试在这里填写某些 网络蜘蛛的 名称。
                -->
                <rule name="TestBadAgent1" stopProcessing="true">
                    <match url=".*" />
                    <!-- MatchAny 意味着， 只要满足一个 Agent 条件，就可以拦截了。 -->
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_USER_AGENT}" pattern="Firefox" />
                        <add input="{HTTP_USER_AGENT}" pattern="Safari" />
                    </conditions>
                    <action type="AbortRequest" />
                </rule>
                
                
                <!--
                这里测试, 忽略 非法的访问地址.
                -->
                <rule name="AbortBadRequest" stopProcessing="true">
                    <match url=".*" />
                    <!-- MatchAny 意味着， 只要满足一个 Agent 条件，就可以拦截了。 -->
                    <conditions logicalGrouping="MatchAny">
                        <!-- 忽略  .../tencent:/message/?...  这个请求地址，应该是向腾讯发送的，不是发送给我们的.. -->
                        <add input="{URL}" pattern="Exp/(.*)/message/" />
                        
                        <!-- 忽略 hm.baidu.com/hm.js    这个请求地址，应该是向百度发送的，不是发送给我们的.. -->
                        <add input="{URL}" pattern="hm.baidu.com/hm.js" />
                        
                        <!-- 忽略 /c/show.m?gid=6326585&nid=1006326585&st=527&ps=5000&esid=DOtq2_figDaIw0L5pgn6Og&gst=527&cu=http%3A%2F%2Fwww.173wx.com%2Fxiaoshuo%2F26%2F26523%2F12069528.html&fr=3.3.3.3 -->
                        <add input="{URL}" pattern="c/show.m" />

                        <!-- 忽略 /c/clist.m?esid=VaqwgDjKw0L54JL&gid=3663012&nid=9428322&or=0&p=196 -->
                        <add input="{URL}" pattern="c/clist.m" />

                        <!-- 忽略 /_vti_bin/owssvr.dll?UL=1&ACT=4&BUILD=6551&STRMVER=4&CAPREQ=0 -->
                        <add input="{URL}" pattern="_vti_bin/" />
                        
                        <!-- 忽略 /MSOffice/cltreq.asp -->
                        <add input="{URL}" pattern="MSOffice/cltreq.asp" />

                        <!-- 忽略 /manager/html -->
                        <add input="{URL}" pattern="manager/html" />

                        <!-- 忽略 /manager.aspx -->
                        <add input="{URL}" pattern="manager.aspx" />
                        
                    </conditions>
                    <action type="AbortRequest" />
                </rule>
                



                <!-- 修正 about:blank   -->
                <rule name="FixAboutBlank"  stopProcessing="true">
                    <match url="(.*)about:blank" />
                    <action type="Rewrite" url="{R:1}" />
                </rule>


                <!-- 伪静态：  将 test/N.html  重定向到 Test.aspx?id=N   -->
                <rule name="Test">
                    <match url="^test/([0-9]+).html" />
                    <action type="Rewrite" url="Test.aspx?id={R:1}" />
                </rule>




                <!-- 
                修正 /Exp/TYYGW2014120001/'http:/localhost:8001/Images/smile.png' 
                
                某些 User-Agent=Nokia5233/SymbianOS/9.1 Series60/3.0 3gpp-gba; 
                或者 User-Agent=Bada/1.3 WEB Browser; 会提交这样的数据请求.
                -->
                <rule name="FixImage" stopProcessing="true">

                    <!-- 由于测试的原因， 这里写了  localhost:8001.  实际使用中需要修改成具体的 域名地址.    -->
                    <match url="(.*)'http:/localhost:8001/(.*)'" />
                    
                    <action type="Redirect" url="{R:2}" />
                </rule>




                <!-- 这个 与 下面的 rewriteMaps 配合使用. -->
                <rule name="Redirect Rule" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{StaticRedirects:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <!-- 由于测试的原因， 这里写了  localhost:8001.  实际使用中需要修改成具体的 域名地址.    -->
                    <action type="Redirect" url="http://localhost:8001{C:1}" appendQueryString="False" redirectType="Permanent" />
                </rule>



            </rules>


            
            <!-- 关联映射：  可以用于网站升级了， 老页面 映射向 新页面的处理逻辑. -->
            <rewriteMaps>
                <rewriteMap name="StaticRedirects">
                    
                    <!-- 每行一个地址转换.  注意：需要写完整路径.  -->
                    <add key="/OldPage.html" value="/Test.aspx?id=256" />
                    
                    <add key="/OldPage.asp" value="/Test.aspx?id=1024" />
                    
                </rewriteMap>
            </rewriteMaps>
            
        </rewrite>
    </system.webServer>







    <log4net>
        <root>
            <level value="DEBUG" />

            <appender-ref ref="ConsoleAppender" />
            <appender-ref ref="RollingFileAppender_INFO" />
            <appender-ref ref="RollingFileAppender_ERROR" />
            <!--
      <appender-ref ref="SmtpAppender" />
      -->
        </root>

        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="[%d]:%n%m%n"></conversionPattern>
            </layout>
        </appender>



        <!--  DEBUG  与  INFO  写在一起.  -->
        <appender name="RollingFileAppender_INFO" type="log4net.Appender.RollingFileAppender">
            <file value="LogFile\" />
            <appendToFile value="true" />
            <rollingStyle value="Date" />
            <datePattern value="yyyyMM\\&quot;Log_INFO_&quot;yyyyMMdd&quot;.csv&quot;" />
            <staticLogFileName value="false" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="&quot;%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}&quot;,&quot;%level&quot;,&quot;%logger&quot;,&quot;%message&quot;%newline" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <param name="LevelMax" value="INFO" />
                <param name="LevelMin" value="DEBUG" />
            </filter>
        </appender>
        <!--  WARN 与 ERROR   写在一起.  -->
        <appender name="RollingFileAppender_ERROR" type="log4net.Appender.RollingFileAppender">
            <file value="LogFile\" />
            <appendToFile value="true" />
            <rollingStyle value="Date" />
            <datePattern value="yyyyMM\\&quot;Log_ERROR_&quot;yyyyMMdd&quot;.csv&quot;" />
            <staticLogFileName value="false" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="&quot;%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}&quot;,&quot;%level&quot;,&quot;%logger&quot;,&quot;%message&quot;%newline" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <param name="LevelMax" value="ERROR" />
                <param name="LevelMin" value="WARN" />
            </filter>
        </appender>

        <!--
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <authentication value="Basic" />
      <to value="接收人" />
      <from value="发件人" />
      <username value="用户名" />
      <password value="密码" />
      <subject value="Log4Net" />
      <smtpHost value="smtp.exmail.qq.com" />
      <bufferSize value="5" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="WARN"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
      </layout>
    </appender>
    -->

    </log4net>

</configuration>
