<?xml version="1.0"?>
<configuration>
  
  
  
  <configSections>
    <section name="socketServer"
                type="Sodao.FastSocket.Server.Config.SocketServerConfig, FastSocket.Server"/>
  </configSections>
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>


  <socketServer>
    <servers>
      <server name="cmdline"
              port="8400"
              socketBufferSize="8192"
              messageBufferSize="8192"
              maxMessageSize="102400"
              maxConnections="20000"
              serviceType="B0700_FastSocket_TelnetServer.MyService, B0700_FastSocket_TelnetServer"
              protocol="commandLine"/>
    </servers>
  </socketServer>


</configuration>
