<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <configSections>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler" />

    <!-- Log4Net -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>


  <quartz>

    <add key="quartz.scheduler.instanceName" value="ServerScheduler" />
    
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="10" />
    <add key="quartz.threadPool.threadPriority" value="2" />
        
    <add key="quartz.jobStore.misfireThreshold" value="60000" />
    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz" />
    
    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz.Plugins" />
    <add key="quartz.plugin.xml.fileNames" value="quartz_jobs.xml" />
    <add key="quartz.plugin.xml.failOnFileNotFound" value="true" />
    
  </quartz>



  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender_INFO" />
      <appender-ref ref="RollingFileAppender_ERROR" />
      <appender-ref ref="ConsoleAppender" />
    </root>


    <!--  DEBUG  与  INFO  写在一起.  -->
    <appender name="RollingFileAppender_INFO" type="log4net.Appender.RollingFileAppender">
      <file value="LogFile\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMM\\&quot;Log_INFO_&quot;yyyyMMdd&quot;.csv&quot;" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="&quot;%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}&quot;,&quot;%level&quot;,&quot;%logger&quot;,&quot;%message&quot;%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMax" value="INFO" />
        <param name="LevelMin" value="DEBUG" />
      </filter>
    </appender>


    <!--  WARN 与 ERROR   写在一起.  -->
    <appender name="RollingFileAppender_ERROR" type="log4net.Appender.RollingFileAppender">
      <file value="LogFile\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMM\\&quot;Log_ERROR_&quot;yyyyMMdd&quot;.csv&quot;" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="&quot;%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}&quot;,&quot;%level&quot;,&quot;%logger&quot;,&quot;%message&quot;%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMax" value="ERROR" />
        <param name="LevelMin" value="WARN" />
      </filter>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d]:%n%m%n"></conversionPattern>
      </layout>
    </appender>

  </log4net>


</configuration>