
@{
    ViewBag.Title = "Index";
}

<h2>测试 TypeScript 是否能正常使用. </h2>



<div id="content"></div>




@Html.Action(actionName:"SubMenu")





@section scripts
{

@Scripts.Render("~/bundles/myHelloWorld")

}