
<hr />

<ul>

    <li>
        <a href="/TestTypeScript/Index"> 测试 TypeScript 是否能正常使用 </a>
    </li>

    <li>
        <a href="/TestTypeScript/TsCallJs"> 测试 TypeScript 调用已有的 JavaScript 库.</a>
    </li>

    <li>
        <a href="/TestTypeScript/TestLetAndConst"> 测试 TypeScript的变量声明 let 与 常量声明 const.</a>
    </li>

    <li>
        <a href="/TestTypeScript/TestPromise"> 测试 Promise 的使用.</a>
    </li>

    <li>
        <a href="/TestTypeScript/TestAsyncAwait"> 测试 async await 的使用.</a>
    </li>

</ul>
