
@{
    ViewBag.Title = "TestLetAndConst";
}

<h2>测试 TypeScript的变量声明 let 与 常量声明 const </h2>



<div id="content">

    直接去控制台看输出.

</div>




@Html.Action(actionName: "SubMenu")





@section scripts
{

    <script src="~/Scripts/myTestLetAndConst.js"></script>

}