<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="A1050_Email.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <A1050_Email.Properties.Settings>
            <setting name="SmtpServerName" serializeAs="String">
                <value>smtp.exmail.qq.com</value>
            </setting>
            <setting name="SmtpServerPort" serializeAs="String">
                <value>465</value>
            </setting>
            <setting name="MailUserName" serializeAs="String">
                <value>test@test.com</value>
            </setting>
            <setting name="MailPassword" serializeAs="String">
                <value>test</value>
            </setting>
        </A1050_Email.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
