	html{ width:100%; height:100%;}
	body{
			background-image:url(bg.jpg);
			background-repeat:no-repeat;
			background-position:center;
			margin:0px;
			padding:0px;
	}
	
	p{ margin:0px;}
	.tips{ background-color:#333; color:#fff; font-family:Arial, Helvetica, sans-serif; line-height:25px; height:25px; font-size:12px; text-align:center;}
	#mousePoint{ line-height:25px; height:25px;}
	#pager{ clear:both; padding-top:320px; text-align:center;}
	#pager { text-align:center;  margin:5px auto;  }
	#pager  a{margin-right:5px; margin-left:5px; text-align:center; background-image:url(point.png); width:13px; height:13px; float:left;  }
	#pager a.current{background-image:url(currentpoint.png); }

	.pageWrapper{ width:100%;  }
	#logo{ margin:10px auto; width:251px;}
	#slidePage { position:absolute;width:800px; height:300px; overflow:hidden;background-color:#fff; border:1px solid #ccc;   }
	#slidePageWrapper { 
		width:800px; 
		height:500px; 
		overflow:hidden;
		position:relative;
	}
	
	.slidePageContent{ float: left; 
		overflow:hidden;  width:800px; height:300px;
		background-color:#fff;
	 }
	 .pad-10{ padding:10px}
	 .bgcolor1,.bgcolor3,.bgcolor5,.bgcolor7,.bgcolor9{ background-color:#DDD}