<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MyWebServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    useDefaultWebProxy="true" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64794/MyWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="MyWebServiceSoap"
                contract="MyWebServiceReference.MyWebServiceSoap" name="MyWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>