<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>


  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>  
  
  
  
    <system.web>
        <compilation debug="true" targetFramework="4.0" />

      <!-- customErrors mode="RemoteOnly" defaultRedirect="~/Error/ErrorPage.aspx"  -->


      <customErrors mode="On" defaultRedirect="~/Error/ErrorPage.aspx">
        <error statusCode="403" redirect="~/Error/Error403.aspx" />
        <error statusCode="404" redirect="~/Error/Error404.aspx" />
        <error statusCode="500" redirect="~/Error/Error500.aspx" />
      </customErrors>

      <webServices>
        <protocols>
          <add name="HttpGet"/>
          <add name="HttpPost"/>
        </protocols>
      </webServices>


 
      

    </system.web>


  
  
  
  
  <system.webServer>
    <!--
      Auto: 就ASP.NET应用程序而言，错误发生时，
          应用程序可以确定使用应用程序自己的错误页面，还是使用IIS的错误页面。
          Auto是默认设置，这也意味着ASP.NET应用程序可以使用ASP.NET的错误页面，
          而大多数非ASP.NET页面也可以使用IIS 7.0的Custom Error页面。    
          
      Replace: 如果使用这个选项，
          那么将强迫IIS总是使用IIS 7.0的错误页面。
          这种做法的好处是错误页面能够保持一致，而且控制方式总是相同的。
          缺点是IIS 7.0无法像ASP.NET那样为ASP.NET请求提供详细的错误信息。
          
      PassThrough: 如果使用这个选项，
          那么就允许使用应用程序的错误页面，
          而无须令IIS 7.0截获这些错误页面，也无须令IIS 7.0显示自己的错误页面。
          选定这个设置后，无论是静态页面还是动态页面，一旦出错，都会显示IIS 7.0的Custom Error页面。
    -->
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
  


  <system.serviceModel>

        <behaviors>
            <endpointBehaviors>
                <behavior name="W0300_WCF_Ajax.WcfTestServiceAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
                <behavior name="W0300_WCF_Ajax.WcfTestPostServiceAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
                <behavior name="W0300_WCF_Ajax.WcfMyDemoServiceAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>

      
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
      
        <services>
            <service name="W0300_WCF_Ajax.WcfTestService">
                <endpoint address="" behaviorConfiguration="W0300_WCF_Ajax.WcfTestServiceAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="W0300_WCF_Ajax.WcfTestService" />
            </service>
            <service name="W0300_WCF_Ajax.WcfTestPostService">
                <endpoint address="" behaviorConfiguration="W0300_WCF_Ajax.WcfTestPostServiceAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="W0300_WCF_Ajax.WcfTestPostService" />
            </service>
            <service name="W0300_WCF_Ajax.WcfMyDemoService">
                <endpoint address="" behaviorConfiguration="W0300_WCF_Ajax.WcfMyDemoServiceAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="W0300_WCF_Ajax.WcfMyDemoService" />
            </service>
        </services>

    </system.serviceModel>





  <!-- 日志配置信息. -->
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender_INFO" />
      <appender-ref ref="RollingFileAppender_ERROR" />
    </root>

    <!--  DEBUG  与  INFO  写在一起.  -->
    <appender name="RollingFileAppender_INFO" type="log4net.Appender.RollingFileAppender">
      <file value="LogFile\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMM\\&quot;LiveVideo_Log_INFO_&quot;yyyyMMdd&quot;.csv&quot;" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="&quot;%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}&quot;,&quot;%level&quot;,&quot;%logger&quot;,&quot;%message&quot;%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMax" value="INFO" />
        <param name="LevelMin" value="DEBUG" />
      </filter>
    </appender>

    <!--  WARN 与 ERROR   写在一起.  -->
    <appender name="RollingFileAppender_ERROR" type="log4net.Appender.RollingFileAppender">
      <file value="LogFile\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMM\\&quot;LiveVideo_Log_ERROR_&quot;yyyyMMdd&quot;.csv&quot;" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="&quot;%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}&quot;,&quot;%level&quot;,&quot;%logger&quot;,&quot;%message&quot;%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMax" value="ERROR" />
        <param name="LevelMin" value="WARN" />
      </filter>
    </appender>


  </log4net>


</configuration>
