@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<p>

我是首页.

</p>


<p>
本项目为测试  Log4Net  +  SQLite 数据库 的测试.
</p>


<p>
日志在 Session_Start 与 Session_End 事件中输出.
</p>



<p>
可下载一个 SQLite Expert Personal 3 查询数据库的数据.
</p>

