@{
    ViewBag.Title = "Report";
}


<h3> 水晶报表测试页面 </h3>


<ul>

    <li>
        <a href="/ReportViewer/Empty.aspx">不访问任何数据源的空白报表页面 （排除故障时使用）</a>
    </li>

    <li>
        <a href="/ReportViewer/ReportViewer1.aspx">使用 CrystalReportViewer + CrystalReportSource 实现的报表页面</a>
    </li>


    <li>
        <a href="/ReportViewer/ReportViewer2.aspx">使用 CrystalReportViewer + ReportDocument 实现的报表页面</a>
    </li>


    <li>
        <a href="/ReportViewer/ReportViewer3.aspx"> 测试图表的页面 </a>
    </li>

</ul>
