<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TestEntities" connectionString="metadata=res://*/TestModel.csdl|res://*/TestModel.ssdl|res://*/TestModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=VBPOS;PASSWORD=TEST;PERSIST SECURITY INFO=True;USER ID=TEST&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>