<?xml version="1.0" encoding="utf-8" ?>
<configuration>



  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="MessageLog">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="E:\my-csharp-sample\W0203_WCF_Scurity_NetTcp\MyWCFService.Hosting\app_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="MessageLog" traceOutputOptions="None">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    

    <diagnostics>
      <messageLogging logEntireMessage="true" logMessagesAtServiceLevel="true"
        logMessagesAtTransportLevel="true" />
    </diagnostics>
    <behaviors>
      
      <!-- 此配置节描述为特定服务定义的所有行为。   -->
      <serviceBehaviors>
        
        <behavior name="maxBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      
      <endpointBehaviors>
        <behavior name="maxBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
      
    </behaviors>


    <bindings>
      <netTcpBinding>
        <binding name="ServiceTcpBindingConfig">
          <security mode="Message">
            <message algorithmSuite="Basic128" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
 


    <!-- 服务定义 -->
    <services>
      <service behaviorConfiguration="maxBehavior" name="MyWCFService.Service.CalculatorService">
        <endpoint address="net.tcp://localhost:8000/Calculator" binding="netTcpBinding"
          bindingConfiguration="ServiceTcpBindingConfig" contract="MyWCFService.ServiceContract.ICalculator" />
      </service>
    </services>
    
  </system.serviceModel>
  
  
</configuration>