<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  
  <entityFramework codeConfigurationType="MySql.Data.EntityFramework.MySqlEFConfiguration, MySql.Data.EntityFramework">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.26.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />      
    </providers>
  </entityFramework>
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>



  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" 
           invariant="MySql.Data.MySqlClient" 
           description=".Net Framework Data Provider for MySQL" 
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.26.0, Culture=neutral" />
    </DbProviderFactories>
  </system.data>




  <connectionStrings>

    <!-- 模拟实际工作中的一个模块. -->
    <add name="MyWorkContext" 
         connectionString="Server=192.168.1.86;Database=test2;Uid=root;Pwd=123456;Convert Zero Datetime=True;Allow Zero Datetime=True" 
         providerName="MySql.Data.MySqlClient" />

    
    <!-- 模拟实际工作中的另一个模块. （与上一个模块，使用相同的数据库）  -->
    <add name="MyWork2Context"
         connectionString="Server=192.168.1.86;Database=test2;Uid=root;Pwd=123456;Convert Zero Datetime=True;Allow Zero Datetime=True"
         providerName="MySql.Data.MySqlClient" />


  </connectionStrings>


</configuration>