@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<p>

本项目用于测试 在 IIS 中， 现有的网站中，添加 应用程序 。

然后观察如何设置   css / js / 图片 的路径问题。


</p>


<p>


存在这样的情况，某个网站 www.网站名.com 目前正常运行。



新开发了一个 独立的 子功能网站。 预期是已  子功能.网站名.com 的方式， 以二级域名的方式， 在 IIS 上面，架设一个独立的网站。

但是客户要求， 新的子功能网站， 要以  www.网站名.com/子功能   这样的方式发布。


把现有的 新的子功能网站， 整个搬到 www.网站名.com 里面。
考虑到一个是 新的功能，可能还有不稳定的地方。   一个是正常运行的。
万一新的功能需要修改， 那么就要拖着正常运行的网站一起 编译、发布。


于是就考虑到， 在 IIS 中 ，  www.网站名.com 下面， 添加一个  应用程序  （不是虚拟目录）
这样，如果新的功能需要修改, 只修改自己就可以了， 不影响原有的主网站.


这样，开发的时候， 很多 css / js / 图片的  地址，   需要 留意， 避免 开发的时候， 看上去是正常的， 发布上去， 路径不对了。

</p>




<ul>    

    <li>
        @Html.ActionLink(linkText: "Js地址", actionName: "TestJs")
    </li>

    <li>
        @Html.ActionLink(linkText: "图片地址", actionName: "TestImage")
    </li>


    <li>
        @Html.ActionLink(linkText: "Json地址", actionName: "TestJson")
    </li>

</ul>