@{
    ViewBag.Title = "TestImage";
}

<h2>TestImage</h2>


<p>
测试图片显示是否正常.

<b> 注意：需要考虑直接在开发环境下测试，以及在 iis 的虚拟目录下测试的情况。 </b>

</p>




在 Visual Studio 里面，直接拖过来， 不修改的效果：
<img src="../../Images/pic0.png" />


<hr />



使用  /  的效果
<img src="/Images/pic1.png" />

<hr />



使用  ~/  的效果
<img src="~/Images/pic2.png" />

<hr />



</ul>