<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServcieBasicHttpBindingConfig">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false" />
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"  httpsGetEnabled ="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>


    <services>
      <service name="MyWCFService.Service.CalculatorService">
        <endpoint address="https://localhost:44300/MyWCFService.svc"
          binding="basicHttpBinding" bindingConfiguration="ServcieBasicHttpBindingConfig"
          name="" contract="MyWCFService.ServiceContract.ICalculator" />
      </service>
    </services>


  </system.serviceModel>
  
  
  
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
