@{
    ViewBag.Title = "Index";
}

<h2>  普通编辑画面  </h2>


    <p>  <a href="/Home/Creater"> 创建画面 </a>  </p>


    <p>  <a href="/Home/Editor"> 编辑画面 </a>  </p>
    


    <p>  <a href="/Home/Viewer"> 用户画面 </a>  </p>




<p>

如果发生：

开发机器上面， 运行正常。
发布到服务器上面之后， 上传图片 的按钮变灰色了。
那么需要检查  config.json   文件的属性  的 生成操作， 是不是 “内容”



</p>





<h2>  区分 未登录用户 与 已登录用户的 编辑画面  </h2>



<p>  <a href="/TwoPartDoc/Creater"> 创建画面 </a>  </p>


<p>  <a href="/TwoPartDoc/Editor"> 编辑画面 </a>  </p>


<p>  <a href="/TwoPartDoc/Viewer"> 用户画面 </a>  </p>