@model W0400_Ueditor.MVC.Models.EditData

@{
    ViewBag.Title = "Viewer";
}

<h2>Viewer</h2>




<div>
@Html.DisplayFor(model => model.editor) 
</div>
			



<a href="@Url.Action("Index")">
    返回
</a>