@{
    Layout = null;
}
<html>

<head>
    <title>Hello React</title>
</head>


<body>
    <div id="content"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="@Url.Content("~/Scripts/Tutorial.jsx")"></script>

    
    <!-- 
        上面的 jsx 代码。 在实际运行的时候.
        在浏览器上输入  http://localhost:15891/Scripts/Tutorial.jsx  
        将会看到编译后的代码.
    -->

</body>


</html>

