<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="A0162_SQL_Server_Func_MyRule_UnitTest.Properties.Settings.UnitTestConnectionString"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=UnitTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>