@{
    ViewBag.Title = "测试压缩";
}

<h2>测试压缩</h2>



<p> 本页面是否产生压缩的处理， 服务器端， 需要到 日志文件中去查询。 </p>

<p> 浏览器中，暂时不清楚， 什么地方， 可以看到  压缩/解压缩的设置。 </p>



<hr/>
@Html.Action(actionName: "TestPartial", controllerName: "Home")
