@{
    ViewBag.Title = "测试 TidyHtml";
}

<h2>测试 TidyHtml</h2>


<div><table><tr><td>通过查看源代码，来看 Filter 执行效果.</td></tr><tr><td>测试1</td></tr><tr><td>测试2</td></tr><tr><td>测试3</td></tr></table></div>



<p>
优点是， 生成的 HTML ， 格式化的很好，可读性很好。
缺点是， 多了很多的空格。
</p>


<hr />
@Html.Action(actionName: "TestPartial", controllerName: "Home")