@{
    ViewBag.Title = "测试去掉空格";
}

<h2>测试去掉空格</h2>



<p>
    具体操作，     在浏览器查看本页面的时候，     查看网页源代码。   观察  HTML 标签的空格，  是否被去除了。
</p>


<div>
    <ul>
        <li> 测试 1</li>
        <li> 测试 2</li>
        <li> 测试 3</li>
        <li> 测试 4</li>
        <li> 测试 5</li>
    </ul>    
</div>

